

#wrapper #center-content {
  width: 100% !important;
}

#crm-container.crm-public .content {
padding-top: 3px !important;
}

#right {
  display: none;
}

.price-set-option-content {
  margin-right: 5px;
}

#crm-container fieldset legend {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
  color: #19636B !important;
}

h1 {
font-size: 2em !important;
font-weight: bold !important;
  text-align: center;
}

#main #center-content h2 {
    color: #1D929F !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-transform: none !important;
    margin-top: 1px !important;
}

.crm-contribution-page-id-5 .other_amount-section {
  float: right;
  margin-top: -40px;
  margin-right: 585px;
  display: block;
}

.crm-contribution-page-id-6 .other_amount-section {
  float: right;
  margin-top: -34px;
  margin-right: 156px;
  display: block;
}



#crm-container.crm-public .label, #crm-container.crm-public .price-field-amount {
  font-size: 13px !important;
}

.crm-container div.form-item {
  padding: 0px 0 0px 0 !important;
}

@media screen and (min-width: 1000px) {
  #crm-container.crm-public input[type="text"],
  #crm-container.crm-public input[type="password"],
  #crm-container.crm-public input[type="email"],
  #crm-container.crm-public select {
    font-size: 10px !important;
    padding: 5px;
    border-radius: 3px;
    vertical-align: middle;
    max-width: 100%;
  }
}
